
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
     /* this will all make everything appear in the middle */
     /* with 5 columns and 5 rows */
  }
  
  .gif {
    margin: 15px;
    /* this seperates all the gifs from each other */
  }
  
  .gif img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: 4px 4px 4px  pink;
  }
    .loader .fa-spinner {
        color: pink; /* Replace with your desired color */
  }
  #button{
    background-color: pink;
    transition: background-color 0.5s ease; /* Add transition for smooth color change */
    border-radius: 10px;

}

#button:hover {
  background-color: #ff6699; /* Darker pink color on hover */
}
#button:active {
    transform: scale(1.1); /* Scale the button to 1.1 times its original size when clicked */
  }
.random{
    background-color: #f977a2;
    border-radius: 10px;
    margin-bottom: 20px;
    border: solid #f977a2;
    transition: background-color 0.5s ease; /* Add transition for smooth color change */
    width: 150px;
}
.random:hover {
    background-color: #fe4381; /* Darker pink color on hover */
  }
  .random:active {
      transform: scale(1.1); /* Scale the button to 1.1 times its original size when clicked */
    }
