
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    border: solid pink 1px;
    box-shadow: #f977a2 10px;
    padding:50px;
    margin-bottom: 10px;
    margin-top:40px;
     /* this will all make everything appear in the middle */
     /* with 5 columns and 5 rows */
  }
  
  .gif {
    margin: 30px;
    /* this seperates all the gifs from each other */
  }
  
  .gif img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 30px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: 10px 9px 4px  black;
  }
    .loader .fa-spinner {
        color: pink; /* Replace with your desired color */
  }
  #button{
    background-color: pink;
    transition: background-color 0.5s ease; /* Add transition for smooth color change */
    border-radius: 10px;

}

#button:hover {
  background-color: #ff6699; /* Darker pink color on hover */
}
#button:active {
    transform: scale(1.1); /* Scale the button to 1.1 times its original size when clicked */
  }
.random{
    background-color: #f977a2;
    border-radius: 10px;
    margin-bottom: 20px;
    border: solid #f977a2;
    transition: background-color 0.5s ease; /* Add transition for smooth color change */
    width: 150px;
}
.random:hover {
    background-color: #fe4381; /* Darker pink color on hover */
  }
  .random:active {
      transform: scale(1.1); /* Scale the button to 1.1 times its original size when clicked */
    }
